

.logoTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-transform: none;
    padding-left: 1rem;
}

.containerLogo {
    display: flex;
}



.containerNav {
    background-color: black;
}