* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


.itemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.active {
    font-weight: bold;
    color: black;
}




h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}


.precio {
    background-color: green;
    color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 2px;
    margin-left: -2px;
}

.bg {
    background-image: url("./img/background.jpg");
}

.title {
    padding-top: 2rem;
}

.gridForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px ;
    max-width: 700px;
}