* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.carrito {
    display: flex;
    gap: 10px
}

.carrito p {
    font-size: 1.5rem;
}

.item {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
}

.imagen {
    width: 400px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.itemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.active {
    font-weight: bold;
    color: red;
}

.itemDetalle {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    display: flex;
    gap: 1rem;
}

p {
    text-transform: uppercase;
    padding: 2px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}

.notFound {
    background-color: rgb(218, 217, 217);
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorNotFound {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
