/* Estilos generales para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para los enlaces */
.link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

/* Estilos para los enlaces activos */
.active {
    font-weight: bold;
    color: black;
}

/* Estilos para la disposición de los elementos en la lista de productos */
.itemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Estilos para la etiqueta de precio */
.precio {
    background-color: green;
    color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 2px;
    margin-left: -2px;
}

/* Estilos para la disposición en cuadrícula del formulario */
.gridForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px ;
    max-width: 700px;
}

.footerLink {
    text-decoration: none;
    color: white;
}

.footerLink:hover {
    text-decoration: underline;
}